<style>
  header{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    color: #fff;
    background-color: #555555;
  }
  button{
    color: #fff;
  }
  table {
    margin: 40px;
    width: calc(100% - 80px);
    border-collapse: collapse;
  }
  table .text{
    padding: 10px;
    text-align: left;
  }
  table .checkbox{
    width: 50px;
    padding: 10px;
    text-align: center;
  }
  table td{
    padding: 10px;
    border-top: 1px solid #555555;
  }
  table .center{
    text-align: center;
  }
</style>

<header style="display: flex; justify-content: space-between; align-items: center;">
  <h1>Blogs</h1>
  <div style="display: flex;">
    <button style="background-color: Green; margin-right: 10px;" onclick="location.href='/admin/blogs/create'">Add new</button>
    <button style="background-color: Red; margin-right: 10px;" onclick="deleting()">Delete</button>
    <button style="background-color: rgb(175, 175, 15); margin-right: 10px;" onclick="unpublish()">Un publish</button>
    <button style="background-color: Green;" onclick="publish()">Publish</button>
  </div>
</header>

<table>
  <thead style="background-color: #555555; color: #fff;">
    <tr>
      <th class="checkbox">Select</th>
      <th class="text">Title</th>
      <th class="text">Author</th>
      <th class="text">eventDate</th>
      <th class="text">Date</th>
      <th class="checkbox">Published</th>
    </tr>
  </thead>
  <tbody>
    <% blogs.forEach(blog => { %>
      <tr>
          <td class="center"><input type="checkbox" name="select" value="<%= blog._id %>"></td>
          <td><%= blog.title %></td>
          <td><%= blog.author %></td>
          <td><%= new Date(blog.eventDate).toLocaleDateString() %></td>
          <td><%= new Date(blog.date).toLocaleString() %></td>
          <td class="center"><input type="checkbox" <%= blog.published ? 'checked' : '' %> name="publish" disabled></td>
      </tr>
  <% }) %>
  </tbody>
</table>

<script>
  const checkboxes = document.getElementsByName('select');

  function checkboxesValue() {
    let checkedRows = [];

    for (let i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        checkedRows.push(checkboxes[i].value);
      }
    }
    return checkedRows;
  }

  function publish(){
    fetch('/admin/blogs/publish', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify(checkboxesValue()),
    })
    .then(response => response.json())
    .catch(error => console.error('Error:', error));
  }
      
  function unpublish() {
    fetch('/admin/blogs/unpublish', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify(checkboxesValue()),
    })
    .then(response => response.json())
    .catch(error => console.error('Error:', error));
  }
  
  function deleting() {
    fetch('/admin/blogs/delete', {
    method: 'DELETE',
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify(checkboxesValue()),
    })
    .then(response => response.json())
    .catch(error => console.error('Error:', error));
  }
</script>