<h2>Upload Files:</h2>
<form action="/admin/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Upload</button>
</form>
<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', function(event) {
    event.preventDefault();

    const formData = new FormData(form);

    fetch('/admin/upload', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
      console.log('File uploaded successfully:', data);
    })
    .catch(error => {
        console.error('Error uploading file:', error);
    });
    });
</script>

<h2>Images:</h2>
<ul id="imageList">
    <% images.forEach(image => { %>
        <li id="<%= image %>">
            <%= image %>
            <button type="button" class="delete-btn" data-type="images" data-filepath="<%= image %>">Delete</button>
        </li>
    <% }) %>
</ul>

<h2>Documents:</h2>
<ul id="documentList">
    <% documents.forEach(document => { %>
        <li id="<%= document %>">
            <%= document %>
            <button type="button" class="delete-btn" data-type="documents" data-filepath="<%= document %>">Delete</button>
        </li>
    <% }) %>
</ul>

<script>
// Add event listener to the delete buttons
var deleteButtons = document.querySelectorAll('.delete-btn');
  deleteButtons.forEach(function(button) {
    button.addEventListener('click', function(event) {
      event.preventDefault();

      var filepath = this.dataset.filepath;
      var type = this.dataset.type;
      // Send a DELETE request to the server using fetch
      fetch(`/admin/files?file=${filepath}&type=${type}`, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => {
        console.log('File uploaded successfully:', data);
      })
      .catch(error => {
        console.error('Error uploading file:', error);
      });
      const parent = document.getElementById(filepath);
      parent.remove();
    });
  });
</script>