<link rel="stylesheet" href="css/content.css">
<style>
  .header-actions {
    display: flex;
    align-items: center;
  }

  .blog-actions {
    display: flex;
    margin-left: 20px;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .popup-close {
    background-color: red;
    margin-top: 10px;
  }

  .popup-close:hover {
    background-color: darkred;
  }

  .allowed {
    color: green;
  }

  .not-allowed {
    color: red;
  }

</style>

<header style="display: flex; justify-content: space-between; align-items: center;">
  <h1>Pārvaldītāji</h1>
  <div class="header-actions">
    <button style="--button-bg-color: #007BFF; --button-hover-bg-color: #0056b3;" onclick="openPopup('popup1')">Jauns lietotājs</button>
    <dialog id="popup1">
      <form id="createUserForm" method="post" action="/admin/create-user">
        <label for="username">Vārds:</label>
        <input type="text" id="username" name="username" required><br>
        
        <label for="password">Parole:</label>
        <input type="password" id="password" name="password" required><br>
        
        <label>Piekļuves:</label><br>
        <input type="checkbox" id="uploadFiles" name="uploadFiles" value="true">
        <label for="uploadFiles">Galerija</label><br>
        
        <input type="checkbox" id="makePages" name="makePages" value="true">
        <label for="makePages">Tīmekļa lapas</label><br>
        
        <input type="checkbox" id="postBlogs" name="postBlogs" value="true">
        <label for="postBlogs">Ziņas</label><br>
        
        <input type="checkbox" id="manageProfiles" name="manageProfiles" value="true">
        <label for="manageProfiles">Pārvaldītāji</label><br>
        
        <button style="--button-bg-color: Green; --button-hover-bg-color: DarkGreen;" type="submit">Izveidot</button>
      </form>
      <button class="popup-close" onclick="closePopup('popup1')">Close</button>
    </dialog>
    <div id="errorMessage" style="display: none; color: red;"></div>
    <div id="Message" style="display: none; color: green;"></div>
  </div>
</header>

<table>
  <thead>
    <tr>
      <th class="text">Attēls</th>
      <th class="text">Vārds</th>
      <th class="text">Galerija</th>
      <th class="text">Tīmekļa lapas</th>
      <th class="text">Ziņas</th>
      <th class="text">Pārvaldītāji</th>
    </tr>
  </thead>
  <tbody id="userList">
    <% users.forEach(user => { %>
      <tr>
        <td><img src="<%= user.profilePicture %>" alt="Profile Picture"></td>
        <td><%= user.username %></td>
        <td class="<%= user.permissions.uploadFiles ? 'allowed' : 'not-allowed' %>">
          <%= user.permissions.uploadFiles ? 'Atļauts' : 'Neatļauts' %>
        </td>
        <td class="<%= user.permissions.makePages ? 'allowed' : 'not-allowed' %>">
          <%= user.permissions.makePages ? 'Atļauts' : 'Neatļauts' %>
        </td>
        <td class="<%= user.permissions.postBlogs ? 'allowed' : 'not-allowed' %>">
          <%= user.permissions.postBlogs ? 'Atļauts' : 'Neatļauts' %>
        </td>
        <td class="<%= user.permissions.manageProfiles ? 'allowed' : 'not-allowed' %>">
          <%= user.permissions.manageProfiles ? 'Atļauts' : 'Neatļauts' %>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<script>
  function openPopup(popupId) {
    var popup = document.getElementById(popupId);
    popup.showModal();
  }

  function closePopup(popupId) {
    var popup = document.getElementById(popupId);
    popup.close();
  }
</script>