<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin.css">
    <script defer src="/js/admin.js"></script>
    
    <!--Quil settings-->
    <script defer src="/js/quill.js"></script>

    <!-- Main Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.min.js"></script>

    <!-- Theme included stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.bubble.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/@bufferhead/nightowl@0.0.14/dist/nightowl.js"></script>
</head>
<body>
    <div class="container center">
        <h2>Welcome to Admin Panel</h2>
        <button onclick="openPopup('popup1')">Pievieno blogu</button>
        <button onclick="openPopup('popup2')">Edit/Add Page</button>
        <button onclick="openPopup('popup3')">Lejuplādē failus</button>
        <a href="/admin/logout">Logout</a>
    </div>
    
    <dialog id="popup1" class="center">
        <button class="popup-close">&times;</button>
            <h2>Pievienot Blogu</h2>
            <form method="POST" action="/admin/add-blog" id="addBlogForm">
                <!-- Your form fields for adding a blog -->
                <label for="blogTitle">Virskrasts:</label>
                <input type="text" id="blogTitle" name="blogTitle" required>
                <label id="blogContentLabel" for="editor-container">Saturs:</label>
                <div id="editor-container" name="blogContent"></div>
                <label for="imageSelect">Izvēlies bildes:</label>
                <select id="imageSelect" name="imageSelect" multiple>
                    <% imageNames.forEach(function(imageName) { %>
                        <option value="<%= imageName %>"><%= imageName %></option>
                    <% }); %>
                </select>
                <label for="blogDate">Datums (Pēc izvēles):</label>
                <input type="date" id="blogDate" name="blogDate">
                <button type="submit">Pievieno blogu</button>
            </form>
    </dialog>
    
    <dialog id="popup3" class="center">
        <button class="popup-close">&times;</button>
                <h2>Upload File</h2>
                <form enctype="multipart/form-data" method="POST" action="/admin/upload" id="fileUploadForm">
                    <input type="file" name="file" id="fileInput" accept=".pdf, .png, .jpg, .jpeg">
                    <input type="text" name="newName" id="newNameInput" placeholder="New File Name">
                    <div class="options">
                        <label for="folderSelect">Choose Folder:</label>
                        <select id="folderSelect" name="folder">
                            <option value="images">Images</option>
                            <option value="pdf">PDF</option>
                            <option value="word">Word</option>
                        </select>
                    </div>
                    <button type="submit">Upload</button>
                </form> 
    </dialog>

    <dialog id="popup2" class="center">
        <button class="popup-close">&times;</button>
                <h2>Table in Popup</h2>
                <table>
                    <tr>
                        <th>Nosaukums</th>
                        <th>Virsraksts</th>
                        <th>Vecāks</th>
                        <th>Pabeigts?</th>
                        <th>Mainīt</th>
                        <th>Izdzēst</th>
                    </tr>
                    <%pages.forEach(page => { %>
                        <tr id =<%= page.id%>>
                            <td><%= page.name%></td>
                            <td><%= page.title%></td>
                            <td><%= page.parent%></td>
                            <td><%= page.finished%></td>
                            <td><button>Mainī</button></td>
                            <td><% if (page.deletable){%><button onclick="deletePage('<%= page.id%>')">Dzēst</button><%}%></td>
                        </tr>
                    <%})%>
                    <form id="addPageForm" method="POST" action="/admin/add-page">
                        <tr>
                            <td><input type="text" name="name" placeholder="Name"></td>
                            <td><input type="text" name="title" placeholder="Title"></td>
                            <td>
                                <select name="parent" id="parent">
                                    <option value="About">Skola</option>
                                    <option value="Study">Mācības</option>
                                </select>
                            </td>
                            <td><input type="checkbox" name="finished"> Finished</td>
                            <td colspan="2"><button type="submit">ADD</button></td>
                        </tr>
                    </form>                    
                </table>
    </dialog>
</body>
</html>
