<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="/css/frame.css">
    <% if(css.length > 0){ %>
        <link rel="stylesheet" href="/css/<%= css%>">
    <%}%>
    <script src="/js/frame.js"></script>
</head>
<body>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <% webPages.forEach(page => { %>
            <% if (page.parent === null) { %>
              <li>
                <a href="<%= page.route %>"><%= page.name %></a>
              </li>
            <% }%>
          <% }); %>
          <li>
            <a class='dropdown-arrow'>Macības</a>
            <ul class='sub-menus'>
              <% webPages.filter(childPage => childPage.parent === "Study").forEach(childPage => { %>
                <li><a href="<%= childPage.route %>"><%= childPage.name %></a></li>
              <% }); %>
            </ul>
          </li>
          <li>
            <a class='dropdown-arrow'>Skola</a>
            <ul class='sub-menus'>
              <% webPages.filter(childPage => childPage.parent === "About").forEach(childPage => { %>
                <li><a href="<%= childPage.route %>"><%= childPage.name %></a></li>
              <% }); %>
            </ul>
          </li>
        </ul>
      </nav>
    <header></header>
    <% if(content.length > 0){ %>
      <%- include (content)%>
    <%}%>
    <footer></footer>
</body>
</html>